<!DOCTYPE html>
<html lang="pt-br">
<meta>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <div include-html="./head.html"></div>

    <title>Produto</title>
</head>
<body>
    <div class="wrapper" id="app">
        <Sidebar></Sidebar>
        <div class="main-panel">
            <Navbar></Navbar>
            <Product></Product>
        </div>
    </div>
    <Footerbar></Footerbar>
</body>
</html>

<template id="product">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-user">
                    <div class="card-header">
                        <h5 class="card-title">Cadastro de Produtos</h5>
                    </div>
                    <div class="card-body">
                        <form method="post" @submit.prevent="salvar($event)" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Grupo</label>
                                        <select class="form-control" id="groups_id" v-model="form.groups_id" >
                                            <option value=""></option>
                                            <option v-for="item in jsonGroups" :key="item.id" :value="item.id"
                                              :selected="form.groups_id === item.name">
                                              {{ item.name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Descrição</label>
                                        <input type="text" class="form-control border-input" id="description"  v-model="form.description" placeholder="Descrição">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Código</label>
                                        <input type="number" class="form-control border-input" id="code"  v-model="form.code" placeholder="Codigo">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Categoria</label>
                                        <select class="form-control" id="category_products_id"  v-model="form.category_products_id">
                                            <option value=""></option>
                                            <option v-for="item in jsonCategorys" :key="item.id" :value="item.id"
                                              :selected="form.category_products_id === item.name">
                                              {{ item.name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Preço</label>
                                        <input type="number" class="form-control border-input" id="value"  v-model="form.value" placeholder="Preço">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Tributação</label>
                                        <select class="form-control" id="groups_id" v-model="form.groups_id" >
                                            <option value=""></option>
                                            <option v-for="item in jsonGroups" :key="item.id" :value="item.id"
                                              :selected="form.groups_id === item.name">
                                              {{ item.name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label for="img">Imagem</label>
                                    <input type="file" class="form-control" id="img" @change="onInputChange($event)" @input="form.uploadImagem = $event.target" aria-describedby="img" aria-label="Upload">
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Ativo</label>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" v-model="form.active">
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-left">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <button type="button" @click="redirectBack()" class="btn btn-default btn-fill btn-wd">Voltar</button>
                                            <button type="submit" class="btn btn-info btn-fill btn-wd">Atualizar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="card card-user">
                    <div class="card-body">
                        <form method="post" @submit.prevent="salvarProduto($event)">
                            <div class="row">
                                <Listaproduto :search="true"></Listaproduto>
                            </div>
                        </form>
                    </div>
                </div>     
            </div>
        </div>
    </div>
</template>

<script src="./site/includeHead.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/vue-router@4"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>

<script type="module">
    var exports = {};
    const { createApp, ref } = Vue;
    const files = ref([]);
    import Sidebar from './site/sidebar.js';
    import Navbar from './site/nav.js';
    import Footerbar from './site/footer.js';
    import Listaproduto from './site/listaProduto.js';

    const routes = []
    const router = VueRouter.createRouter({
            history: VueRouter.createWebHashHistory(),
            routes: [
            {
                path: "/",
                name: "Sidebar",
                component: Sidebar
            },
            {
                path: "/navbar",
                name: "Navbar",
                component: Navbar
            },
            {
                path: "/footer",
                name: "Footerbar",
                component: Footerbar
            },
            {
                path: "/listaproduto",
                name: "Listaproduto",
                component: Listaproduto
            },
        ]
    })

    const app = createApp({
        data() {
            return {}
        },
        methods: {
            redirectBack() {
                return history.go(-1);
            },
        },
    })
    app.component('Sidebar', Sidebar)
    app.component('Navbar', Navbar)
    app.component('Footerbar', Footerbar)
    app.component('Product',{
        data() {
            return {
                form: {
                    groups_id: 1,
                    description: null,
                    category_products_id: 1,
                    value: null,
                    code: null,
                    active: null,
                    img: [],
                },
                uploadImagem: [],
                jsonGroups: [],
                jsonCategorys: []
            }
        },
        mounted() {
            axios.get('/index.php/grupo/lista')
            .then(response => {
                this.jsonGroups = JSON.parse(response.data)
            })

            axios.get('/index.php/categoria/lista')
            .then(response => {
                this.jsonCategorys = JSON.parse(response.data)
            })
        },
        methods: {
            formatBytes(bytes, decimals = 2) {
                if (bytes === 0) return '0 Bytes';
                let k = 1024;
                let dm = decimals < 0 ? 0 : decimals;
                let sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
                let i = Math.floor(Math.log(bytes) / Math.log(k));
                return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
            },
            sizeUpload(file) {
                for (let i = 0; i < file.length; i++) {
                    if(this.formatBytes(file[i].size).split(' ')[1] != 'KB' && (this.formatBytes(file[i].size).split(' ')[0] > this.formatBytes(parseFloat(5000)).split(' ')[0])) {
                        dialog.alertErrors(`Tamanho máximo permitido: 5.3 MB`,"", "error");
                        return false;
                        break;
                    } else {
                        return true;
                    }
                }
            },
            extensionUpload(file) {
                let extPermitidas = ['png', 'jpg', 'jpeg', 'webp'];

                let arrayExt = [];
                for (let i = 0; i < file.length; i++) {
                    arrayExt += file[i].name.split('.').pop()+',';
                }

                let array = arrayExt.split(',')

                let r3 =[];
                array.forEach(function (element, index, array) {
                    if(extPermitidas.indexOf(element) == -1)
                        r3.push(element);
                });

                if(r3.length == 1) {
                    return true;
                } else {
                    dialog.alertErrors(`Insira um arquivo com extensão png, jpg, jpeg ou webp.`,"", "error");
                    return false;
                }
            },
            onInputChange() {
                if(this.sizeUpload(event.target.files) && this.extensionUpload(event.target.files)) {
                    const reader = new FileReader()
                    reader.readAsDataURL(event.target.files[0])
                    reader.onload = e => {
                        this.form.img = e.target.result
                        console.log(this.form.img)
                    }
                    event.target.value = null
                }
            },
            salvar() {
                let dado = this.form;
                console.log(dado)
                if(this.form.groups_id != null && this.form.category_products_id) {
                    axios.post('/index.php/produto/create',btoa(JSON.stringify(dado)))
                    .then(response => {
                        Swal.fire({
                            title: "Sucesso!",
                            text: 'Cadastro realizado com sucesso!',
                            timer: 15000,
                            icon: 'success',
                        });
                    })
                } else {
                    Swal.fire({
                        title: "Erro!",
                        text: 'Erro ao realizar cadastro',
                        timer: 15000,
                        icon: 'warning',
                    });
                }
            },
        },
        template: "#product",
    });
    app.component('Listaproduto', Listaproduto)

    app.use(router);
    app.mount("#app");
</script>